name: Publish

on:
  push:
    tags:
      - "v*"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        registry: ["vsce", "ovsx"]
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish
        env:
          VSCE_PAT: ${{ secrets.VSCODE_PERSONAL_TOKEN }}
          OVSX_PAT: ${{ secrets.ECLIPSE_PERSONAL_TOKEN }}
        run: pnpm run publish:${{ matrix.registry }}
